{
    "plugins": [
        [
            "transform-incremental-dom",
            {
                "requireStaticsKey": true,
                "moduleSource": "incremental-dom"
            },
            "@babel/plugin-transform-template-literals"
        ]
    ],
    "presets": [
        ["@babel/preset-env", {
        "useBuiltIns": "entry",
        "corejs": 3
        }]
    ]
}